
<div class="ui-g">
  <div class="ui-g-2"></div>
  <div class="ui-g-2">
    <p></p>
    <button id="panel" type="text" pButton label="about this app" (click)="op.toggle($event)">
    </button>

    <p-overlayPanel #op [showCloseIcon]="true">
       This app uses Angular 4, PrimeNG with Rocket theme, Angularfire2, and Google's new Cloud Firestore
    </p-overlayPanel>
  </div>

  <div class="ui-g-2"></div>
  <div class="ui-g-6">
    <h3>Add an item to your Todo List</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div>
          <input type="text" placeholder="Add Title" pInputText [(ngModel)]="item.title" name="title"/>
          <label>Title<br></label>
          
        </div>
        <div class="input-field">
          <textarea pInputTextarea [(ngModel)]="item.description" name="description"></textarea>
          <label>Description</label><br>
        </div>
        <button pButton type="submit" label="Submit"></button>
        <!-- <input type="submit" value="Submit" class="btn"> -->
      </div>
    </form>
  </div>
</div>