<h4>This is just a prototype I made for a fan-engagment tool that the Pacers could use. Could this help prevent crowds from leaving the game early when the Pacers are getting blown out? Could be a fun business experiment.</h4>

<div id="goteam" @fade>  
  <h1>Welcome to Banker's Life Fieldhouse</h1>
  <img src="../assets/banklife.jpg" alt="bankers life fieldhouse">
  <h1>Home of the Indiana Pacers</h1>
  <h2>Answer the question correctly and you'll be entered into a drawing for a {{prize}}!</h2>
  <img id="shirt" src="../assets/shirt.jpeg">
  <h2>You can only submit once. To be eligible for the prize, answers must be submitted before start of 4th Quarter.</h2>
  <button pButton type="button" ng-click="animate()" class="ui-button-info" label="PLAY"></button>
</div>


<div id="play" @fade>
  
  <h1>Where are you sitting?</h1>
  
  <h3>Section</h3>
  <p-dropdown [options]="seat" [(ngModel)]="selection" placeholder="Section" optionLabel="name"></p-dropdown>
  <!-- <p>Selected City: {{selection ? selection.name : 'none'}}</p> --><br>
  <h3>Row</h3>
  <p-dropdown [options]="seat" [(ngModel)]="selection" placeholder="Row" optionLabel="name"></p-dropdown>
  <!-- <p>Selected City: {{selection ? selection.name : 'none'}}</p> --><br>
  <h3>Seat Number</h3>
  <p-dropdown [options]="seat" [(ngModel)]="selection" placeholder="Seat Number" optionLabel="name"></p-dropdown>
  <!-- <p>Selected City: {{selection ? selection.name : 'none'}}</p> -->
  
  <h3 id="question" class="first">{{question}}</h3>
  
  <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>

  <br><br>
  <button id="submitbtn" pButton type="button" class="ui-button-success" label="Submit"></button>
  
</div>