#goteam {
    background-color: yellow;
    color: navy;
    text-align: center;
    width: 590px;
    height: 800px;
    margin: 4em auto;
    padding: 2em;
    border-radius: 3em;
    border-color: navy;
    border-style: solid;
}
img {
    width: 380px;
    height: auto;
}
h1, h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
#shirt {
    width: 150px;
    height: auto;
}