<div id="goteam">
  <img src="../assets/banklife.jpg" alt="fieldhouse">
  <h1>Welcome to Banker's Life Fieldhouse</h1>
  <h1>Home of the Indiana Pacers</h1>
  <h2>Answer the question correctly and you'll be entered into a drawing for a {{prize}}, brought to you by:</h2>
  <h2>the Pacers Home Court Gift Shop</h2>
  <h2>Answers must be submitted by opening tipoff (7:09pm), and you can only make 1 attempt. </h2>
  <h2>**One submission per person**</h2>
  <button pButton type="button" (click)="onclick()" class="ui-button-info" label="ready to play?"></button>
  
</div>



<h2>{{question}}</h2>