<div class="simon">
  <h1>AngularSimon - Simon's Angular Apps Portfolio</h1>
  <p>
    This website is a collection of Angular projects I built for fun and practice. The links below include brief descriptions of the technologies and tools I used to build this website. (November 2017)
  </p>
  <p><a href="https://github.com/simonhlee97/goteam"><i class="fa fa-github"> </i> GitHub Repo for this project</a></p>
  <h3>Helpful Resources</h3>
  <div class="ui-g">
    <div class="ui-g-6">
      <p-fieldset [toggleable]="true">
        <p-header>Angular</p-header>
        <a href="https://angular.io/">Angular</a> is a front-end framework maintained by Google. This website uses version 4.
      </p-fieldset>
    </div>
    <div class="ui-g-6">
      <p-fieldset [toggleable]="true">
        <p-header>Angularfire2</p-header>
        <a href="https://github.com/angular/angularfire2">Angularfire2</a> is a library that makes it easy for Angular apps to interact with Google's Cloud Firestore or Firebase.
      </p-fieldset>
    </div>
    <div class="ui-g-6">
      <p-fieldset [toggleable]="true">
        <p-header>Firebase</p-header>
        For deployment, I used <a href="https://firebase.google.com/">Firebase</a> Hosting. Firebase is a Backend-as-a-Service — BaaS — that started as a YC11 startup and grew up into a next-generation app-development
        platform on Google Cloud Platform.
      </p-fieldset>
    </div>
    <div class="ui-g-6">
      <p-fieldset [toggleable]="true">
        <p-header>Firestore</p-header>
        For data management, I'm using Google's new <a href="https://firebase.google.com/docs/firestore/">Cloud Firestore</a>. According to Google, Cloud Firestore is a fully-managed NoSQL document database for mobile and web app development. It's designed to easily store
        and sync app data at global scale, and it's now available in beta.
      </p-fieldset>
    </div>
    <div class="ui-g-6">
      <p-fieldset [toggleable]="true">
        <p-header>PrimeNG</p-header>
        <a href="https://www.primefaces.org/primeng/#/">PrimeNG</a> is an open-source collection of UI components designed for Angular.
      </p-fieldset>
    </div>
    <div class="ui-g-6">
      <p-fieldset [toggleable]="true">
        <p-header>Font Awesome</p-header>
        <a href="http://fontawesome.io/">Font Awesome</a> is an open-source collection of scalable vector icons.
      </p-fieldset>
    </div>
  </div>
  
</div>
